*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}


body {

    background-color: #242B37;

}

@font-face {
    font-family: Gilroy;
    src: url(Gilroy-Regular.ttf);
}

@font-face {
    font-family: Gilroy Bold;
    src: url(Gilroy-Bold.ttf);
}

.nav {
    background-color: #242B37;
    color: #FFFBE6;
    text-align: right;
    align-items: stretch;
    padding-right: 50px;
    padding-top: 13px;

}

.nav ul {
    list-style: none;
    display: inline-flex;
    align-items: right;
    gap: calc(50px)
   
}

.nav a {
    color: inherit;
    font-size: larger;
    text-decoration: none;
    display: flex;
    height: 2rem;
    padding: .20rem;
}


.nav li.active {
    background-color:#555
}

.nav li:hover {
    background-color:#777
}



.intro-homepage {
    padding-left: 400px;
    padding-top: 250px;
}



.nav img {
    height: 65px;
    width: auto;
    float:left;
    padding-left: 25px;
    padding-top: 12px;
    
}

.highlighted::first-line {
    color: rgb(80, 255, 208);
    font-size: smaller;
    font-family: Courier New, monospace;

}



.pdf-container {
    width: 500px;
    height: auto;
    padding-left: 663px;
    padding-top: 50px;
}


.react-pdf__Page__textContent,
.react-pdf__Page__annotations {
  display: none;
}

.aboutpage-container div{

    display: block;
    clear: both;


}

.aboutpage-title {
    overflow-wrap: break-word;
    margin-top: 5%;
    margin-left: 2%;

}

.aboutpage-title h1 {
    font-size: 100px;
    font-family: Gilroy Bold;
    color: #FFFBE6;
}

.aboutpage-content {
    overflow-wrap: break-word;
    margin-top: 13%;
    margin-left: 2%;
    font-size: 23px;
    color: #FFFBE6;
    font-family: Gilroy;
    width: 1400px;
}

.bottom-p {
    padding-top: 20px;
}

.aboutpage-title img {
    width: 1000px;

}

.button-div Button {
    background-color: #314059;
    color: rgb(80, 255, 208);
    position: absolute;
    left: 20px;
    bottom: 20px;
    

}


.projects-title {
    margin-top: 1%;
    font-size: 50px;
    font-family: Gilroy Bold;
    color: #FFFBE6;
    display: flex;
    justify-content: center;
    

}



.top-line {
    position: absolute;
    left: 50%;
    padding-top: 1%;
    transform: translate(-50%, -50%);
    width: 50%;
}



.projects-master{
    display: flex;
    justify-content: center;
    align-items: center;

}


.projects-container{
    display: grid;
    align-items: center;
    justify-items: center;
    margin-top: 2%;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 30px;



}

.project-1, 
.project-2, 
.project-3, 
.project-4, 
.project-5, 
.project-6 {

    border-radius: 15px;
    background-color: #314059;
    height: 300px;
    width: 300px;
}

.img-container-1 img, 
.img-container-2 img,
.img-container-3 img,
.img-container-4 img,
.img-container-5 img,
.img-container-6 img  {
    width: 300px;
    border-radius: 15px;
    height: 170px;
    padding: 5px;

}

.project-1 p,
.project-2 p,
.project-3 p,
.project-4 p,
.project-5 p,
.project-6 p {

    color:#FFFBE6;
    padding-top: 7px;
    padding-left: 5px;
    padding-right: 5px;
    font-family: Gilroy;
}

.project-1 a, 
.project-2 a,
.project-3 a,
.project-4 a,
.project-5 a,
.project-6 a {
    
    padding-top: 7px;
    padding-left: 5px;
    padding-right: 5px;
    font-family: Gilroy;
    color: rgb(80, 255, 208);
    text-decoration: none;
}

.social-icons {

    display: flex;
    flex-direction: row;
    gap: 12px;
    position: fixed;
    right: 20px;
    bottom: 20px;
    z-index: 999;

    

}
